<!-- home.hbs -->

<h2>Bienvenido a Adopme!</h2>
<p>mascotas.</p>

<section class="pets">
  {{#if pets.length}}
    <ul>
      {{#each pets}}
        <li>
          <h3>{{this.name}}</h3>
          <p>Especie: {{this.species}}</p>
          <p>Edad: {{this.age}} años</p>
          <p>Estado: {{#if this.adopted}}Adoptado{{else}}Disponible{{/if}}</p>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No hay mascotas ahora, espere.</p>
  {{/if}}
</section>

<h2>Usuarios Registrados</h2>
<section class="users">
  {{#if users.length}}
    <ul>
      {{#each users}}
        <li>
          <h3>{{this.first_name}} {{this.last_name}}</h3>
          <p>Email: {{this.email}}</p>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No hay usuarios registrados.</p>
  {{/if}}
</section>
